@import "tailwindcss";

@theme {
  --font-sans: var(--font-outfit);
  --animate-marquee: marquee 30s linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-50%);
    }
  }
}

@layer base {
  body {
    background-color: #000;
    color: #fff;
    font-family: var(--font-outfit), sans-serif;
  }
}
